---
 - hosts: Tomcat-container-server
   become: true
   tasks:
     - name: install python pip
       yum:
         name: python-pip
         state: present
     - name: install docker-py python module
       pip:
         name: docker-py
         state: present
     - name: start the container
       docker_container:
         name: suresha1
         image: "sureshaho/project:{{Docker_TAG}}"
         state: started
         ports:
           - "8090:8080"
